@import "../cardItem/cardItem.scss";

.main {
@include flexible();
  background-color: black;
  height: 70%;
  overflow-y: scroll;
  align-items: flex-start;
  .container{
    flex-direction: column;
  }

  .main-ul {
    list-style: none;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
  }

  .main-title{
    color: firebrick;
    text-decoration: underline red 3px;
    margin-bottom: 30px;
  }
}

@media Screen and (max-width: 364px) {
  .main-ul {
    width: 100%;
    li {
      width: 100%;
    }
  }
}
